.projectBlock {
    background-color: #f8f9fa;
    padding: 40px 0;
    min-width: 300px;
    width: 100%;
    min-height: 90vh;
}
.prBlockDark {
    background-color: #212020;
}
.projectContainer {
    flex-direction: column;
}

.title {
    margin-bottom: 60px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .projects {
        width: 100%;
        flex-direction: column;
        align-items: center !important;
    }
}

@media screen and (max-width: 360px) {
    .projectContainer {
        width: 90%;
    }
}