.projectBlock {
    background-color: rgba(155, 25, 103, 0.85);
    padding: 40px 0;
    min-width: 300px;
    width: 100%;
}

.projectContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: rgba(93, 149, 241, 0.85);
    margin-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

}

@media screen and (max-width: 768px) {
    .projects {
        width: 100%;
        flex-direction: column;
        align-items: center !important;
    }
}

@media screen and (max-width: 360px) {
    .projectContainer {
        width: 100%;
    }
}