.container {
    align-items: center;
    height: 100%;
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 96%;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }
}