.header {
    height: 80px;
    background-color: rgba(93, 149, 241, 0.85);
    min-width: 300px;


}
.headerContainer {
    justify-content: flex-end !important;
    min-width: 300px;
}
nav {
    border: 1px solid;
    min-width: 298px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .headerContainer {
        justify-content: center !important;
    }
}

