.footerBlock {
    background-color: rgba(93, 149, 241, 0.85);
    min-width: 300px;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 40px 0;
}
.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin: 20px 0;
}

.copyright {

}