.footerBlock {
  min-width: 300px;
  background: #efefef;
  font-size: 14px;
  color: #888;
  padding: 70px 0;
}

.footerDark {
  background-color: #212020;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 40px 0;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 20px 0;
  align-items: center;
}
